In [258]:
### Importing necessary libraries ###

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
%matplotlib inline
import seaborn as sns

### Importing the reviews for all thriller movies from 2017-2021

In [259]:
Thriller_url ="https://raw.githubusercontent.com/ddb336/CSS-IMDb-Dataset/main/Data/genres-combined/Thriller_reviews_combined.csv"

In [260]:
thriller = pd.read_csv(Thriller_url)

thriller.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20373 entries, 0 to 20372
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title_id                      20373 non-null  object
 1   review_title                  20373 non-null  object
 2   review_title_sentiment_score  20373 non-null  float64
 3   review_text_sentiment_score   20373 non-null  float64
 4   date                          20373 non-null  object
 5   rating                        20373 non-null  int64
dtypes: float64(2), int64(1), object(3)
memory usage: 955.1+ KB

In [261]:
thriller.head()

,title_id,review_title,review_title_sentiment_score,review_text_sentiment_score,date,rating
0,tt2267998,Interesting end\n,0.4019,0.9810,2021-03-28 00:00:00,9
1,tt2267998,A masterpiece\n,0.6249,0.0000,2021-03-20 00:00:00,10
2,tt2267998,Ending sucked Unfortunately\n,-0.6597,-0.9966,2021-03-19 00:00:00,6
3,tt2267998,impressive film that guides the audience\n,0.5106,0.9258,2021-03-18 00:00:00,9
4,tt2267998,Great movie but I am pissed off\n,-0.6428,-0.9159,2021-03-18 00:00:00,9

### Data Filtering

#### Fixing the 'date' column

In [262]:
## Chekcing the date column as it is an important independent variable in our research
thriller['date']

0        2021-03-28 00:00:00
1        2021-03-20 00:00:00
2        2021-03-19 00:00:00
3        2021-03-18 00:00:00
4        2021-03-18 00:00:00
                ...
20368    2018-07-16 00:00:00
20369    2018-05-13 00:00:00
20370    2017-08-25 00:00:00
20371    2017-04-02 00:00:00
20372    2017-03-08 00:00:00
Name: date, Length: 20373, dtype: object

In [264]:
thriller['date'] = pd.to_datetime(thriller['date'])

In [265]:
thriller.head()

,title_id,review_title,review_title_sentiment_score,review_text_sentiment_score,date,rating
0,tt2267998,Interesting end\n,0.4019,0.9810,2021-03-28,9
1,tt2267998,A masterpiece\n,0.6249,0.0000,2021-03-20,10
2,tt2267998,Ending sucked Unfortunately\n,-0.6597,-0.9966,2021-03-19,6
3,tt2267998,impressive film that guides the audience\n,0.5106,0.9258,2021-03-18,9
4,tt2267998,Great movie but I am pissed off\n,-0.6428,-0.9159,2021-03-18,9

In [266]:
thriller.dtypes

title_id                                object
review_title                            object
review_title_sentiment_score           float64
review_text_sentiment_score            float64
date                            datetime64[ns]
rating                                   int64
dtype: object

#### Fixing the sentiment analysis columns

In [267]:
thriller.rename(columns={'review_title_sentiment_score': 'title_score', 'review_text_sentiment_score': 'text_score'},inplace=True)

In [268]:
thriller.head()

,title_id,review_title,title_score,text_score,date,rating
0,tt2267998,Interesting end\n,0.4019,0.9810,2021-03-28,9
1,tt2267998,A masterpiece\n,0.6249,0.0000,2021-03-20,10
2,tt2267998,Ending sucked Unfortunately\n,-0.6597,-0.9966,2021-03-19,6
3,tt2267998,impressive film that guides the audience\n,0.5106,0.9258,2021-03-18,9
4,tt2267998,Great movie but I am pissed off\n,-0.6428,-0.9159,2021-03-18,9

In [269]:
thriller.dtypes

title_id                object
review_title            object
title_score            float64
text_score             float64
date            datetime64[ns]
rating                   int64
dtype: object

In [270]:
thriller

,title_id,review_title,title_score,text_score,date,rating
0,tt2267998,Interesting end\n,0.4019,0.9810,2021-03-28,9
1,tt2267998,A masterpiece\n,0.6249,0.0000,2021-03-20,10
2,tt2267998,Ending sucked Unfortunately\n,-0.6597,-0.9966,2021-03-19,6
3,tt2267998,impressive film that guides the audience\n,0.5106,0.9258,2021-03-18,9
4,tt2267998,Great movie but I am pissed off\n,-0.6428,-0.9159,2021-03-18,9
...,...,...,...,...,...,...
20368,tt3862750,TOO GOOD TO BE TRUE\n,0.6908,0.0036,2018-07-16,6
20369,tt3862750,Great thriller\n,0.6705,0.6249,2018-05-13,9
20370,tt3862750,"Not bad, not good, just meh....\n",0.5981,0.8568,2017-08-25,5
20371,tt3862750,The Imperfect Guise\n,-0.3182,0.9873,2017-04-02,6
20372,tt3862750,Pretty good movie\n,0.7269,0.9905,2017-03-08,8

In [271]:
# thriller['date'] = thriller['date'].values.astype(float)

In [272]:
thriller.dtypes

title_id                object
review_title            object
title_score            float64
text_score             float64
date            datetime64[ns]
rating                   int64
dtype: object

## Visualizations

In [273]:
### Testing for overall changes in mood and reviews over time

In [ ]:
sns.countplot(x='text_score',data=thriller)

In [275]:
fig = plt.figure(figsize=(12,12))
# plt.scatter('date','review_title_sentiment_score',data=thriller['date'].loc[])
sns.distplot(thriller['data'].loc['2020-01-01':'2020-12-31'],color='green',bins=100)
# sns.clustermap(data=thriller)
# plt.xticks(rotation=50)

KeyError: 'data'

,review_title_sentiment_score,review_text_sentiment_score,rating
review_title_sentiment_score,1.000000,0.326019,0.412286
review_text_sentiment_score,0.326019,1.000000,0.441208
rating,0.412286,0.441208,1.000000